# This file is for projects that checkout webrtc/ directly (e.g. Chromium).
*.mk
*.a
*.o
*.so
*.apk
*.ap_
.svn/
*/.svn/
examples/android/media_demo/bin/
examples/android/media_demo/gen/
examples/android/media_demo/libs/
examples/android/opensl_loopback/
